html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #eee;
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

h1 {
    display: block;
    color: #111;
    font-size: 38px;
    font-weight: 600;
    line-height: 2em;
    text-align: center;
    border-bottom: 2px solid rgb(255, 115, 0);
    margin: 0 0 1em;

    small {
        text-transform: capitalize;
    }
}

button {
    display: inline-block;
    height: 42px;
    border: 1px solid rgb(143, 143, 143);
    background-color: white;
    color: #111;
    padding: 8px 16px;
    border-radius: 6px;
    user-select: none;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;

    &:hover {
        cursor: pointer;
        background-color: rgb(255, 233, 216);
        border-color: rgb(170, 170, 170);
    }

    &.active, &:active {
        color: black;
        background-color: rgb(255, 189, 135);
        border-color: #454545;
    }

    &.completed {
        color: #acacac;
        background-color: #e0e0e0;
    }
}

.center {
    text-align: center;
}

.material-symbols-outlined {
    width: 100%;
    height: 100%;
}

.main-menu {
    width: 250px;
    display: block;

    button {
        display: block;
        margin: 0 2em;
        width: calc(100% - 4em);
    }
}

.horizontal-select {
    margin: 0 calc(2em - 12px);
    display: flex;

    &__button {
        width: 24px;
        height: 24px;

        & span {
            user-select: none;

            &:hover {
                cursor: pointer;
            }
        }

    }


    &__label {
        flex-grow: 4;
        text-transform: capitalize;
        user-select: none;
        font-size: 14px;
        font-weight: 300px;
    }
}

button+button {
    margin-left: 8px;
}



.number-picker {
    .note {
        font-style: italic;
    }
}

@media (orientation: portrait) {
    button {
        transition: none;
    }
    
    .main-menu {
        width: 100%;
    }

    .number-picker {
        display: grid;
        width: 100%;
        grid-gap: 16px;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(5, 1fr);

        button {
            margin: 0;
            font-size: 18px;

            &.note {
                font-size: 12px;
            }
        }
    }

    .bottom-menu {
        display: flex;

        button {
            flex: 1 1 0px;
            font-size: 18px;
        }
    }
}