.sudoku {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);

    &__cell {
        position: relative;
        background-color: var(--sudoku-cell-background-color);
        text-align: center;
        vertical-align: middle;
        user-select: none;
        font-size: 24px;
        border: var(--sudoku-cell-border-width) solid var(--sudoku-cell-border-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 250ms ease-out;
        overflow: hidden;

        &--initial {
            background-color: var(--sudoku-cell-initial-background-color);
            color: var(--sudoku-cell-initial-color);
            font-weight: var(--sudoku-cell-initial-font-weight);
        }
        
        @media (pointer: fine) {
            &--initial:hover {
                background-color: var(--sudoku-cell-initial-background-color);
                font-weight: var(--sudoku-cell-initial-font-weight);
            }

            &:hover {
                background-color: var(--sudoku-cell-hover-background-color);
            }
        }

        &--highlighted {
            background-color: var(--sudoku-cell-highlighted-background-color) !important;
            color: var(--sudoku-cell-highlighted-color);
        }

        &--error {
            transition: all 0s linear;
            background-color: var(--sudoku-cell-error-background-color) !important;
            color: var(--sudoku-cell-error-font-color) !important;
        }

        // Corner radii
        &:nth-child(1) {
            border-top-left-radius: 16px;
        }
        &:nth-child(9) {
            border-top-right-radius: 16px;
        }
        &:nth-child(73) {
            border-bottom-left-radius: 16px;
        }
        &:nth-child(81) {
            border-bottom-right-radius: 16px;
        }

        // Inner left/right border
        &:nth-child(3n):not(:nth-child(9n)) {
            border-right-width: var(--sudoku-cell-border-width-structure);
            border-right-color: var(--sudoku-cell-border-color-structure);
        }
    
        // Inner top border
        &:nth-child(n+19):nth-child(-n+27) {
            border-bottom-width: var(--sudoku-cell-border-width-structure);
            border-bottom-color: var(--sudoku-cell-border-color-structure);
        }
    
        // Inner bottom border
        &:nth-child(n+46):nth-child(-n+54) {
            border-bottom-width: var(--sudoku-cell-border-width-structure);
            border-bottom-color: var(--sudoku-cell-border-color-structure);
        }

        // Outer border width
        &:nth-child(-n+9) {
            border-top-width: var(--sudoku-cell-border-width-structure);
            border-top-color: var(--sudoku-cell-border-color-structure);
        }
        &:nth-child(n+73) {
            border-bottom-width: var(--sudoku-cell-border-width-structure);
            border-bottom-color: var(--sudoku-cell-border-color-structure);
        }
        &:nth-child(9n+1) {
            border-left-width: var(--sudoku-cell-border-width-structure);
            border-left-color: var(--sudoku-cell-border-color-structure);
        }
        &:nth-child(9n+9) {
            border-right-width: var(--sudoku-cell-border-width-structure);
            border-right-color: var(--sudoku-cell-border-color-structure);
        }
    }
}

.notes {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 1px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    font-size: 14px;
    line-height: 1em;
    font-style: italic;

    &__cell {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all 250ms ease-out;
        background-color: transparent;

        &--highlighted {
            background-color: var(--sudoku-cell-notes-highlighted-background-color);
        }
    }
}

@media (orientation: portrait) {
    .sudoku {
        width: auto;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .notes {
        font-size: 12px;

        &__cell {
            border-radius: 4px;
        }
    }
}